.diagram__wrapper-inner {
    position: relative;
}
.diagram__info {
    z-index: 1;
    position: relative;
    right: 2rem;
    top: 0;
    text-align: right;
}
.diagram__info button {
    color: #191b21;
    position: relative;
    width: 2rem;
    height: 2rem;
    font-size: 20px;
    background: #C6C7C4;
    border-radius: 100%;
    align-items: center;
    text-align: center;
    border: none;
}
.diagram__info-bubble {
    display: none;
    max-width: 350px;
    position: absolute;
    text-align: left;
    padding: 1rem;
    right: 0;
    top: 3rem;
    background: #F5F7F8;
}
.diagram__info-bubble .diagram__info-bubble-divider {
    margin: 0.25rem auto;
    height: 2px;
    width: 40%;
    background: #E2E6E9;
}
.diagram__info-bubble p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    padding-right: 2rem;
}
.diagram__info-bubble-close {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 1rem;
}
.diagram__tooltip {
    padding: 1.75rem 2rem;
}
.diagram__tooltip-category {
    padding-top: 1em;
    font-size: 1.125rem;
}
.diagram__tooltip-title {
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 2em;
    text-align: center;
}
.diagram__tooltip-total {
    font-weight: 500;
    padding-top: 0.5em;
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-size: 1.5em;
}
.diagram__tooltip-box {
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
}
.diagram__tooltip-value {
    font-weight: 600;
    padding: 0;
    font-size: 2.75em;
}
.diagram__tooltip-suffix {
    font-size: 1.4rem;
}
.diagram__tooltip-border {
    border-top: 1px solid #E2E6E9;
    margin-top: .25em;
}
.diagram__wrapper-inner {
    padding: 5rem 0;
}
.diagram__info-wrapper {
    height: 0;
    padding: 0;
}
.diagram__legend {
    max-width: 680px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.diagram__legend-item {
    display: flex;
    padding: 0.5rem;
    align-items: center;
}
.diagram__legend-item-color {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    border-radius: 100%;
    margin-right: .75rem
}
.diagram__legend-item-text {
    font-weight: 600;
}
@media (max-width: 991px) {
    .diagram__wrapper-inner {
        padding: 2rem 0;
    }
    .diagram__info {
        right: 0;
    }
}
@media (max-width: 767px) {
    .diagram__title {
        font-size: 1.4rem;
        font-weight: 500;
    }
}
