.social-links {
    padding: 5rem;
}
.social-links .social-links__container {
    max-width: 680px;
    margin: auto;
}
.social-links .social-links__item {
    padding: 1.5rem 0;
    display: flex;
    border-bottom: 1px solid #c6c7c4;
}
.social-links .social-links__icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.social-links .social-links__text {
    color: #191b21;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1;
    margin-left: 1.4em;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.social-links .social-links__text a {
    text-decoration: none;
}
.social-links .social-links__items-wrapper .social-links__item:last-child {
    border: none;
}
.social-links .social-links__text a:hover {
    text-decoration: none;
}
.social-links .social-links__wrapper {
    padding: 5rem 0;
}
@media (max-width: 991px) {
    .social-links .social-links__wrapper {
        padding: 3rem 0;
    }
    .social-links {
        padding: 5rem 3rem;
    }
}
@media (max-width: 767px) {
    .social-links {
        padding: 3.4rem 1.875rem;
    }
}
